<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kq.sharding.dao.InOutRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kq.sharding.entity.InOutRecord">
        <id column="id" property="id" />
        <result column="tenant_id" property="tenantId" />
        <result column="user_id" property="userId" />
        <result column="in_out_time" property="inOutTime" />
        <result column="direction" property="direction" />
        <result column="device_number" property="deviceNumber" />
        <result column="device_name" property="deviceName" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="edit_user" property="editUser" />
        <result column="edit_time" property="editTime" />
        <result column="source_id" property="sourceId" />
    </resultMap>

</mapper>
